<div class="flex archive flex-col w-full px-4 md:px-0 ">
    <div class="sec-1">
        <h1 style="font-weight: 700;" class="md:block font-bold text-[#191919]">Archive Videos</h1>
        <div class="custom-search w-[320px] max-w-[350px] md:w-auto sm:flex align-center justify-center gap-y-2.5 ">
            <button (click)="getAllVideosJson()"
                class="flex gap-x-1 items-center justify-center border-primary border-[3px] h-[50px] max-[768px]:w-1/3 max-[768px]:m-auto px-6 rounded-lg mr-3 text-white text-lg json-btn ">
                <mat-icon class="mb-1">cloud_download</mat-icon>
                <p class="mt-2">JSON</p>
            </button>
            <button (click)="openDialog()"
                class="border-primary border-[3px] h-[50px] max-[768px]:w-1/3 max-[768px]:m-auto px-6 rounded-lg mr-3 text-white text-lg upload-btn ">
                Upload
            </button>
            <span class="custom-input">
                <input (keyup)="SearchData($event.target)"
                    class="w-[350px] max-[768px]:ml-[10px] max-[768px]:w-[50%] h-[45px] rounded-3xl "
                    placeholder="Search" type="text">
            </span>
        </div>
    </div>
    <ng-container *ngIf="videos && videos.length > 0; else noRecords">
        <div class="sec-2 grid gap-4 grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 auto-rows-min w-full mb-3">
            <div *ngFor="let video of videos | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: totalItems }"
                class="video flex flex-col w-full bg-white rounded-2xl overflow-hidden mx-auto">
                <div (click)="openVideoInfo(video)" class="h-auto overflow-hidden relative"> <!-- Set height to auto -->
                    <div class="loader-container" *ngIf="video.processing; else thumbnail">
                        <div class="loader"></div>
                        <p>Processing...</p>
                    </div>
                    <ng-template #thumbnail>
                        <img class="h-full w-full" [src]="video.thumbnail">
                        <div [ngClass]="{'success-message': true, 'show': video.processedSuccessfully}">
                            Video processed successfully
                        </div>
                    </ng-template>
                </div>
                <div class="video-bot mx-2 overflow-hidden relative py-3 px-3 flex flex-col">
                    <div style="align-items: center;" class="flex justify-between">
                        <h3 class="!mb-0">{{video.Title}}</h3>
                        <small style="cursor: pointer; color: #811630;"
                            (click)="changeStatus(video.id, video.type)">{{video.type}}</small>
                    </div>
                    <p class="!mb-0 text-[#716F96] up-p">Channel: {{video.channel.name}}</p>
                    <p class="!mb-0 text-[#716F96] up-p">Uploaded on {{video.createdAt | date: 'MMM d, yyy'}}</p>
                    <div class="flex mt-2 flex-row justify-between">
                        <div class="vid-icons actions w-[38%] justify-between flex flex-row">
                            <button (click)="downloadVideo(video.videoUrl, video.Title)" 
                                class="action-btn download-btn" 
                                matTooltip="Download video">
                                <img src="/assets/icons/down.png" alt="Download">
                            </button>
                            <button (click)="removeVideo(video.id)" 
                                class="action-btn delete-btn" 
                                matTooltip="Delete video">
                                <img src="/assets/icons/delete.png" alt="Delete">
                            </button>
                            <button (click)="editVideo(video)" 
                                class="action-btn edit-btn" 
                                matTooltip="Edit video">
                                <img src="/assets/icons/edit.png" alt="Edit">
                            </button>
                        </div>
                        <button [class.bg-black]="video.published" class="btn-publish text-white align-items-center !bg-primary flex flex-row py-3 px-4 justify-center rounded" (click)="publishVideo(video)">
                            <img alt="" class="w-[19px] grayscale brightness-0 invert-[1] mr-1" src="/assets/icons/pub.png">
                            <p class="!mb-0 p">{{video.published ? 'Published' : 'Publish'}}</p>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-row justify-center pagination-controls">
            <pagination-controls (pageChange)="onPageChange($event)" [autoHide]="true" [maxSize]="6"
                [nextLabel]="'&#10095;'" [previousLabel]="'&#10094;'" [responsive]="false"
                class="pagination-controls"></pagination-controls>
        </div>
    </ng-container>
    <ng-template #noRecords>
        <div class="flex flex-row justify-center mt-5">
            <h1 class="hidden md:block text-[white] mt-5">No Records Found!</h1>
        </div>
    </ng-template>
</div>