<!-- <full-calendar
#calendar
(dateClick)="handleDateClick($event)" 
style="background-color: white; width: 70%;" [options]="calendarOptions"
 ></full-calendar> -->

 <div class="clndr-main container mt-4 overflow-auto">
    <div class="text-center clndr-main-1">
        <h2>Select a day of the calendar and insert videos to your schedule</h2>
       
    </div>
    <div class="row mt-5 mb-3 ml-5 clndr-main-2">
        <div class="clndr-main-2-main col-lg-8 col-md-6 bg-white col-sm-12 text-center">
            <div class=" content">
                <h2 class="text-center">Select Date</h2>
                <ngb-datepicker  #dp [(ngModel)]="model" [dayTemplate]="t" id="calender-container">
                    <ng-template #t let-date ngbDatepickerDayView >
                        <div >
                            <div (click)="onDateSelected(date)"
                            style="pointer-events: auto;" 
                            [class.outside-day]="date.month !== model.month "
                            [class.today]="!hasScheduledEvent(date)&&isCurrentMonthToday(date)"
                            [class.highlighted-day]="hasScheduledEvent(date)"     
                            class="day">
                                {{ date.day }}
                            </div>
                        </div>
                    </ng-template>
                </ngb-datepicker>
            </div>

        </div>
      
    </div>
  
</div>

