<video #target id="vid" class="video-js vid vjs-default-skin vjs-big-play-centered" controls playsinline preload="none">
</video>
<!-- <div [innerHTML]="xml" ></div> -->

<!-- <div class="vjs-menu-button vjs-menu-button-popup vjs-control vjs-button vjs-quality-selector">
    <button
        class="vjs-menu-button vjs-menu-button-popup vjs-button" type="button" aria-disabled="false"
        aria-haspopup="true" aria-expanded="true"><span class="vjs-icon-placeholder" aria-hidden="true">auto</span><span
            class="vjs-control-text" aria-live="polite"></span></button>
    <div class="vjs-menu vjs-lock-showing">
        <ul class="vjs-menu-content" role="menu">
            <li class="vjs-menu-title" tabindex="-1">Quality</li>
            <li class="vjs-menu-item" tabindex="-1" role="menuitemradio" aria-disabled="false" aria-checked="false">
                <span class="vjs-menu-item-text">240p</span><span class="vjs-control-text" aria-live="polite"></span>
            </li>
            <li class="vjs-menu-item" tabindex="-1" role="menuitemradio" aria-disabled="false" aria-checked="false">
                <span class="vjs-menu-item-text">360p</span><span class="vjs-control-text" aria-live="polite"></span>
            </li>
            <li class="vjs-menu-item" tabindex="-1" role="menuitemradio" aria-disabled="false" aria-checked="false">
                <span class="vjs-menu-item-text">480p</span><span class="vjs-control-text" aria-live="polite"></span>
            </li>
            <li class="vjs-menu-item" tabindex="-1" role="menuitemradio" aria-disabled="false" aria-checked="false">
                <span class="vjs-menu-item-text">720p</span><span class="vjs-control-text" aria-live="polite"></span>
            </li>
            <li class="vjs-menu-item vjs-selected" tabindex="-1" role="menuitemradio" aria-disabled="false"
                aria-checked="true"><span class="vjs-menu-item-text">Auto</span><span class="vjs-control-text"
                    aria-live="polite">, selected</span></li>
        </ul>
    </div>
</div> -->