@font-face {
	font-family: "Open" ;
	src: url("../../assets/OpenSauceSans-Regular.ttf") format("opentype");
}
label,button,p,h1,h2,div{
  font-family: "Open!important" ;
}
.bg-theme{
    background-color: #811630;
}
.inputfield {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .input {
    height: 2.7em;
    width: 2.7em;
    border: 1px solid #716F96;
    outline: none;
    text-align: center;
    font-size: 1.5em;
    border-radius: 0.3em;
    background-color: #ffffff;
    outline: none;
    /*Hide number field arrows*/
    -moz-appearance: textfield;
  }
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .show {
    display: block;
  }
  .hide {
    display: none;
  }
  .input:disabled {
    color: #89888b;
  }
  .input:focus {
    border: 2px solid #811630;
  }
  .sign-in-button {
    background-color: #811630;
    color: white;
    border-radius: 30px;
    width: 100%;
    // margin-left: auto;
    // margin-right: auto;
  }
  .forgot-right{
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: space-around;
    width: 30%;
    height: 40%;
    margin: auto;
    align-items: center;
    h1{
      font-weight: 800;
      font-size: 25px;
    }
    form{
      width: 65%;
    }
    .inp-main{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 20px;

        input{
            width: 100%;
        }
    }
  }