<div class="flex flex-row h-screen">
    <div class="flex flex-col w-3/5 bg-grey h-full p-4">
        <img class="w-[200px] absolute" src="/assets/icons/newLogo.svg" alt="">
        <div class="h-full flex flex-col justify-center align-middle">
            <img class="h-[460px] align-middle" src="/assets/icons/auth-icon.svg" alt="">
        </div>
    </div>
        <div class=" forgot-right">
            <h1>Forgot Password</h1>
            <form
                [formGroup]="emailForm"
            >

                <div class="inp-main">
                    <label for="email">
                        Email
                    </label>
                    <input id="email"
                    formControlName="email"
                    (change)="emailValue($event)"
                    class="xl:w-[80%] border border-grey rounded-2xl mt-2 h-[45px] px-[17px]" type="text"
                    placeholder="example@example.com">
                    <div [hidden]="emailForm.controls.email.valid || emailForm.controls.email.pristine" class="text-[red]">
                        Email is required
                    </div>
                </div>
                <button (click)="forgotPass()" class="xl:w-[80%] text-white h-[52px] text-lg sign-in-button" >Send</button>
            </form>
            </div>
      
</div>