<div class="flex flex-row h-screen">
    <div class="flex flex-col w-3/5 bg-grey h-full p-4">
        <img class="w-[200px] absolute" src="/assets/icons/newLogo.svg" alt="">
        <div class="h-full flex flex-col justify-center align-middle">
            <img class="h-[460px] align-middle" src="/assets/icons/auth-icon.svg" alt="">
        </div>
    </div>
        <div class="w-2/5 forgot-right">
            <h1>Reset your password</h1>
            <form
                [formGroup]="credentials"
            >
            <label for="password">
                Password
            </label>
            <div class="inp-main">
               
                <input id="password"
                formControlName="password"
                (change)="handlePassChange($event)"
                class="xl:w-[80%] border border-grey rounded-2xl mt-2 h-[45px] px-[17px]" 
                [type]="isPasswordVisible ? 'text' : 'password'"
                placeholder="********">
                <span (click)="toggleVisibility()"  class="custom-input">
            </span>
                <div [hidden]="credentials.controls.password.valid || credentials.controls.password.pristine" class="text-[red]">
                    Please provide a password with more than 8 characters that includes at least a uppercase letter, a
                    lowercase letter, a number and a symbol!
                </div>
            </div>
            <label for="email">
                Confirm Password
            </label>
            <div class="inp-main">
              
                <input id="email"
                formControlName="confirmPassword"
                (change)="handleConfirmPassChange($event)"
                class="xl:w-[80%] border border-grey rounded-2xl mt-2 h-[45px] px-[17px]" 
                [type]="isPasswordVisible2 ? 'text' : 'password'"
                placeholder="********">
                <span (click)="toggleVisibility2()" class="custom-input">
                </span>
                <div class="text-[red] mb-2 mt-2" *ngIf="credentials.hasError('passwordMismatch') && credentials.get('confirmPassword')">
                    Password and confirm password do not match.
                </div>
            </div>
           
                <button (click)="resetPass()" class="xl:w-[80%] text-white h-[52px] text-lg sign-in-button" >Reset</button>
            </form>
            </div>
      
</div>